exportPattern("^[[:alpha:]]+")
exportClasses("intersectio")
exportMethods(
"match.rho2time",
"match.genes2UTRlen",
"create.intersectio.Object",
"prepare.intersectio",
"intersect.intersectio",
"filter.NoIntergenes.UTRlen",
"filter.single_and_NoRAAC.UTRlen",
"kruskal.do",
"GOF.dunif",
"shift.intergenes",
"test.GO",
"select.species_mirna",
"match.mirnas2QI",
"getPairLenDiff",
"getLists",
"create.intersectIO",
"genrich",
"selectTargets"
)
export(
"eliminateHeavyDuplicates",
"duplicatedWithMoreThan"
)
